header {
    width: 100%;
    padding: 2rem 0;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 1;
    max-height: 72px;
}
header * {
    display: inline-block;
}

header nav {
    margin: 0 3rem;
    box-sizing: border-box;
    line-height: 24px;
    width: 77%;
    text-align: right;
}
.ico {
    height: 3rem;
    vertical-align: middle;
    position: absolute;
    right: 2rem;
    top: 2.8rem;
}
.ico1 {
    height: 100%;
}
.logo {
    max-width: 5vw;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding-left: 3vw;
}
header nav a {
    padding: 0 1.5vw;
    font-size: 14px;
    font-family: "open sans", sans-serif;
}

footer {
    width: 100%;
    padding: 5rem 0 0.3rem 0;
    /* background-color: #fff5ec; */
    /* background-color: #ecf3f0; */

}
.icon {
    width: 26px;
    margin-top: 0.1rem;
}
footer h2 {
    text-align: center;
}
.work-hours, .contacts {
    display: inline-block;
    width: 48%;
    margin: 2rem 0;
    position: relative;
    /* right: -1rem; */
}
footer .contacts {
    position: absolute;
    right: 1rem;
}
footer > p {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.work-hours > div > p {
    display: inline-block;
}
.work-hours {
    text-align: right;
}
.side-menu {
    display: none;
}
.hamb-line {
    display: none;
}
@media screen and (max-width: 767px) {

    header {
        position: fixed;
    }
    .logo {
        width: 20%;
        padding: 0 2rem;
    }
    .hamb-line {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        position: fixed;
        top: 1rem;
        right: 2vw;
        z-index: 2;
    }
    .ico {
        position: fixed;
        top: 4.5rem;
        right: 1.8vw;
    }

    .ico3 {
        position: relative;
        top: 0.5rem;
        left: 0.2rem;
    }
        
    
    .menu {
        background-color: white;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .menu a {
        width: 80%;
        font-size: large;
        padding: 1.5rem;
        text-align: center;
    }
    .menu li {
        display: none;
        transition: display 1s esae;
    }
    .side-menu:checked + .menu li  {
        display: block;
    }
    .menu li:hover {
        background-color: rgb(243, 243, 243);
    }

}