header {
    width: 100%;
    padding: 2rem 0;
    position: absolute;
    top: 0;
    background-color: white;
}
header * {
    display: inline-block;
}
header nav {
    width: 65%;
    position: absolute;
    right: 1rem;
    text-align: center;
    box-sizing: border-box;
    line-height: 24px;
}
.logo {
    width: 15%;
    text-align: center;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 0 5rem;
}
header nav a {
    padding: 0rem 1.5rem;
    font-size: 14px;
    font-family: "open sans", sans-serif;
}

footer {
    width: 100%;
    padding: 2rem 0 0.3rem 0;
}
.icon {
    width: 26px;
    margin-top: 0.1rem;
}
footer h2 {
    text-align: center;
}
.work-hours, .contacts {
    display: inline-block;
    width: 30%;
    margin: 2rem 0 3rem;
    position: relative;
    right: -1rem;
}
footer .contacts {
    position: absolute;
    right: 1rem;
}
footer > p {
    width: 100%;
    text-align: center;
}
.work-hours > div > p {
    display: inline-block;
}
footer a {
    font-family: montserrat, sans-serif;
}