* {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/static/Montserrat-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: montserrat;
    src: url(fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: playfairdisplay;
    src: url(fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
    font-weight: bold;
}

/* FIXED BACKGROUND */

#fixed-bg {
    background-image: url(images/big-pottery-copy.jpeg);
    /* background-image: url(images/big-clay.jpeg); */
    height: 323px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#center-h1 {
    width: 100%;
    position: relative;
    top: 50%;
}
h1 {
    font-size: 72px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
    
}

/* H1-H4 STYLES */

h2, h4 {
    font-family: playfairdisplay;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 32px;
}
h4 {
    font-size: 17px;
}
.services h3 {
    font-weight: normal;
    font-size: 30px;
}

/* MAIN AREA */

main {
    width: 70%;
    position: relative;
    top: 2rem;
    left: 13%;
    padding: 1.5rem;
    background-color: rgb(250, 250, 250);
}
main.main > div, main.coworking > .half-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
}
.half-page > * {
    width: 48%;
}

/* MAIN TEXT LAYOUT */

.half-text > * {
    padding: 0.5rem 0;
}

.half-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* SERVICES PANEL */

.services > div {
    width: 30%;
    text-align: center;
    margin-top: -2rem;
}

.services > div > * {
    margin: 1rem 0;
}


/* IMAGE AND BUTTON STYLES */

.half-page img {
    min-height: 500px;
    min-width: 0;
    object-fit: cover;
}
.services img {
    width: 100%;
}


button {
    border-style: none;
    background-color: white;
    border: 1px solid black;
    width: 60%;
    height: 2.8rem;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem auto;
    transition: background-color 400ms ease;
}
button:hover {
    color: white;
    background-color: rgb(17, 50, 48);
    border-color: rgb(17, 50, 48);
}

/* OTHER TEXT STYLES */

.services a {
    font-weight: bold;
}
.main p {
    font-weight: normal;
    text-align: justify;
}
.note {
    font-size: 12px;
}
.current-page {
    color: rgb(42, 43, 193);
}



/* R U L E S  */



.clay-bg {
    background-image: url(images/file.gif);
    height: 323px;
    background-repeat: no-repeat;
    background-size:cover;
}
h1 {
    width: 100%;
    position: relative;
    top: 50%;
}
.rules > div {
    margin: 2rem 0;
}
.rules * {
    margin: 1rem 0;
}
.rules h3 {
    width: 100%;
    text-align: center;
    margin-bottom: -0.7rem ;
}
ol {
    padding-left: 2rem;
}
main.prices > div, div.prices {
    text-align: center;
    margin: 0.5rem 0 1rem;
}
.cowork h3 {
    font-size: 18px;
    color: #F5B7CD;
    margin-top: 2rem;
}
.whyus {
    font-size: 0;
}
.whyus img {
    width: 25%;
}
.whyus-text {
    padding: 2rem 1rem;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    vertical-align: top;
    text-align: center;
}
.whyus-text h3 {
    margin-bottom: 1rem;
}
.whyus h2 {
    margin: 2rem;
}
div.prices button {
    width: 20%;
}
div.prices div {
    margin: 1rem;
}